$base-font-family: 'Tinos', serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: rgb(255, 255, 255);
$text-color:       #333;
$background-color: #bababa;
$brand-color:      #68487b;

// Color scheme for light
$body-bg: #e1e1e1;
$projectbox: #fbfbfb;
$text-color: #333;

// Color scheme for dark modes
$body-bg-dark: #250334;
$projectbox-dark: lighten($body-bg-dark, 10%);
$text-color-dark: rgb(163, 163, 163);

// Colour palette for project boxes
$theme1: ("one",#388087),("two", #6FB3B8),("three",#BADFE7),("four",#C2EDCE),("five",#F6F6F2);
$theme2: ("one",#25359d),("two", #7391e6),("three",#9bd8f5),("four",#b3dcf0),("five",#352f6c);
$theme3: ("one",#3c0e6b),("two", #8769ce),("three",#9342d9),("four",#52355c),("five",#7961a9), ("six",#7f00ed);
